<app-navbar>
    <a>
      <ng-container *ngIf="islog && isMT">
        <img   style="margin-right: 2%;" src="assets/vjp3.png" height="50" alt="vjp" width="100">
      </ng-container>
    </a>  
    <h3 style="color: white;"> Drawing&nbsp;Code</h3>
    
  </app-navbar>
  
   <div style=" min-height: calc(100vh - 110px);">
      <div style="width: 95%;margin-left: 3%;padding-top: 2%;">
       <form class="in">
          <input style="float: right;" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </form>
    
        <div class="p-5">

    
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
    
            
    
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">NO </th>
                <td mat-cell *matCellDef="let drg ; let j = index;">
                  {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }} </td>
              </ng-container>
    
    
              <ng-container matColumnDef="Hsno">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">S/N</th>
              </ng-container>
    
    
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> DRAWING CODE </th>
                <ng-container >
                  <!-- <td mat-cell matRipple *matCellDef="let drg">
                    <ng-container >
                        <span style="cursor:pointer;" (click)="callOperation(drg)">{{drg.id}} </span>
                      </ng-container>
      
    
                  </td> -->
                  <td mat-cell matRipple *matCellDef="let drg" style="cursor:pointer;" (click)="callOperation(drg)">
                    <button mat-raised-button>{{drg.id}}</button> 
                  </td>
                </ng-container>
              </ng-container>
    
              <ng-container matColumnDef="Hid">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">DRAWING CODE</th>
              </ng-container>
    
              <ng-container matColumnDef="partName">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> PART NAME </th>
                <td mat-cell *matCellDef="let drg"> {{drg.partName | uppercase}} </td>
              </ng-container>
    
              <ng-container matColumnDef="HpartName">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> PART NAME</th>
              </ng-container>
    
              <ng-container matColumnDef="revNo">
                <th mat-header-cell *matHeaderCellDef>CASTING</th>
                <td mat-cell *matCellDef="let drg">
    
                  <ng-container *ngIf="drg.revNo; else heads1">
                    {{drg.revNo}} / {{drg.revDate | date: 'dd-MM-yyyy'}}
                  </ng-container>
                  <ng-template #heads1>
                    -
                  </ng-template>
    
                </td>
              </ng-container>
    
              <ng-container matColumnDef="revNo1">
                <th mat-header-cell *matHeaderCellDef>MACHINING</th>
                <td mat-cell *matCellDef="let drg">
                  <ng-container *ngIf="drg.revNo1; else heads1">
                    {{drg.revNo1}} / {{drg.revDate1 | date: 'dd-MM-yyyy'}}
                  </ng-container>
                  <ng-template #heads1>
                    -
                  </ng-template>
                </td>
              </ng-container>
    
              <ng-container matColumnDef="partNum">
                <th mat-header-cell *matHeaderCellDef> CASTING</th>
                <td mat-cell *matCellDef="let drg">
                  <ng-container *ngIf="drg.partNum; else heads1">
                    {{drg.partNum}}
                  </ng-container>
                  <ng-template #heads1>
                    -
                  </ng-template>
                </td>
              </ng-container>
    
    
    
              <ng-container matColumnDef="partNum1">
                <th mat-header-cell *matHeaderCellDef> MACHINING</th>
                <td mat-cell *matCellDef="let drg">
                  <ng-container *ngIf="drg.partNum1; else heads1">
                    {{drg.partNum1}}
                  </ng-container>
                  <ng-template #heads1>
                    -
                  </ng-template>
                </td>
              </ng-container>
    
    
    
    
              <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> CUSTOMER NAME </th>
                <td mat-cell *matCellDef="let drg">
    
                  <ng-container *ngIf="isUT; else headsUT">
                    <ng-container *ngIf="drg.customerName; else heads1">
                      Yes
                    </ng-container>
                    <ng-template #heads1>
                      -
                    </ng-template>
                  </ng-container>
    
                  <ng-template #headsUT>
                    <ng-container *ngIf="drg.customerName; else heads1">
                      {{drg.customerName | uppercase}}
                    </ng-container>
                    <ng-template #heads1>
                      -
                    </ng-template>
                  </ng-template>
    
    
    
    
                </td>
              </ng-container>
    
              <ng-container matColumnDef="HcustomerName">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> CUSTOMER</th>
              </ng-container>
    
    
              <ng-container matColumnDef="materialGrade">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> MATERIAL GRADE </th>
                <td mat-cell *matCellDef="let drg">
                  {{drg.materialGrade | uppercase}}
                </td>
              </ng-container>
    
              <ng-container matColumnDef="HmaterialGrade">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> MATERIAL GRADE</th>
              </ng-container>
              <ng-container matColumnDef="pno-group">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> DRAWING NUMBER </th>
              </ng-container>
    
              <ng-container matColumnDef="rno-group">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> REVISION NUMBER </th>
              </ng-container>
    
            <ng-container *ngIf="islog && isad; else heads1">
                <tr style="background: #408cfd  ;" mat-header-row
                  *matHeaderRowDef="['Hsno','Hid','HpartName','pno-group','rno-group','HcustomerName','HmaterialGrade']">
                </tr>
              </ng-container>
              <ng-template #heads1>
                <tr style="background: #408cfd  ;" mat-header-row
                  *matHeaderRowDef="['Hsno','Hid','HpartName','pno-group','rno-group','HcustomerName','HmaterialGrade']">
                </tr>
              </ng-template>
    
    
              <tr style="background: #408cfd  ;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'make-red': row.unlockStatus =='0' }">
              </tr>
            </table>
            <mat-paginator #myPaginator [pageSizeOptions]="[200,400,600]"></mat-paginator>
    
          </div>
        </div>
    
      </div>
    </div>
  
    <app-footer></app-footer>
    