<app-navbar>
  <a>
    <ng-container *ngIf="islog && isMT">
      <img style="margin-right: 2%;" src="assets/vjp3.png" height="50" alt="vjp" width="100">
    </ng-container>
  </a>
  <h3 style=" color: white;">Quality&nbsp;Plan</h3>
</app-navbar>
<div style=" min-height: calc(100vh - 110px);">
  <div style="width: 95%;margin-left: 3%;padding-top: 1%;">
    <div class="row">
      <div class="col-md-6">
        <div>
          <a style="margin-left: 80%;padding: 15px 25px ;" id="singlebutton" name="singlebutton" *ngIf="isUT"
            class="btn btn-primary" [routerLink]="['/batchqty']">Batch&nbsp;Qty</a>
        </div>
      </div>
    </div>
    <div class="p-5">
      <div>
        <mat-card>
          <table style="width:100%;border: 1px solid black;border-collapse: collapse;">
            <tr style="border: 1px solid black;border-collapse: collapse;">
              <th style="border: 1px solid black;border-collapse: collapse;word-spacing: 15px;"><b>VJP ALUMINIUM
                  FOUNDRY</b></th>
              <th colspan="5" style="text-align: center;"
                style="border: 1px solid black;border-collapse: collapse;  text-align: center;">QUALITY PLAN</th>
              <td style="border: 1px solid black;border-collapse: collapse;">Drawing code</td>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.id}}</th>
              <td style="border: 1px solid black;border-collapse: collapse;">Operation #</td>
              <th style="border: 1px solid black;border-collapse: collapse;"> {{opnValue}}</th>
            </tr>
            <tr style="border: 1px solid black;border-collapse: collapse;">
              <td style="border: 1px solid black;border-collapse: collapse;">Casting Drawing #/Rev/Date</td>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.partNum}}</th>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.revNo}}</th>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.revDate | date: 'dd/MM/yyyy'}}
              </th>
              <td style="border: 1px solid black;border-collapse: collapse;"> Part Name</td>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.partName | uppercase}}</th>
              <td style="border: 1px solid black;border-collapse: collapse;  font-weight: normal !important;">Operation
                Description</td>
              <th colspan="3" style="border: 1px solid black;border-collapse: collapse;">
                {{psObject.description | uppercase}}</th>
            </tr>
            <tr style="border: 1px solid black;border-collapse: collapse;">
              <td style="border: 1px solid black;border-collapse: collapse;">Machining Drawing #/Rev/Date</td>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.partNum1}}</th>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.revNo1}}</th>
              <th style="border: 1px solid black;border-collapse: collapse;">{{drgObject.revDate1 | date: 'dd/MM/yyyy'}}
              </th>

              <ng-container *ngIf="qpaObject; else teset">
                <td style="border: 1px solid black;border-collapse: collapse;">Process Plan #</td>
                <th colspan="2" style="border: 1px solid black; border-collapse: collapse;"> {{qpaObject.pfNo}}</th>
              </ng-container>
              <ng-template #teset>
                <td style="border: 1px solid black;border-collapse: collapse;">Process Plan #</td>
                <th colspan="2" style="border: 1px solid black; border-collapse: collapse;"> NA</th>
              </ng-template>

              <ng-container *ngIf="qpaObject; else teset">
                <td style="border: 1px solid black;border-collapse: collapse;">Quality Plan #</td>
                <th colspan="2" style="border: 1px solid black;border-collapse: collapse;">{{qpaObject.qpNo}}</th>
              </ng-container>
              <ng-template #teset>
                <td style="border: 1px solid black;border-collapse: collapse;">Quality Plan #</td>
                <th colspan="2" style="border: 1px solid black;border-collapse: collapse;"> NA</th>
              </ng-template>
            </tr>
            <tr style="border: 1px solid black;border-collapse: collapse;">
              <td colspan="3" style="border: 1px solid black;border-collapse: collapse;">Casting Tolerance</td>
              <th colspan="2" style="border: 1px solid black;border-collapse: collapse;">
                {{drgObject.castingToleranceStandard}}</th>
              <td colspan="3" style="border: 1px solid black;border-collapse: collapse;">Machining Tolerance</td>
              <th colspan="2" style="border: 1px solid black;border-collapse: collapse;">
                {{drgObject. machiningToleranceStandard}}</th>
            </tr>
          </table>
        </mat-card>
      </div>

      <div *ngIf="islog && isTT || isMT || isOPE">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef style="width:20px; margin-right: 5px;"> S/N
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
              <td mat-cell *matCellDef="let element; let rIndex = index;" style="width:20px; margin-right: 5px;">
                {{ (rIndex+1) + (myPaginator.pageIndex * myPaginator.pageSize) }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Desc </th>
              <td mat-cell *matCellDef="let element"> {{element.description | uppercase}} </td>
            </ng-container>

            <ng-container matColumnDef="baloonNo">
              <th mat-header-cell *matHeaderCellDef> Balloon # </th>
              <td mat-cell *matCellDef="let element"> {{element.baloonNo}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="specification">
              <th mat-header-cell *matHeaderCellDef> Specs </th>
              <td mat-cell *matCellDef="let element"> {{element.specification | uppercase}} </td>
            </ng-container>


            <ng-container matColumnDef="tolFrom">
              <th mat-header-cell *matHeaderCellDef> Tol_Min </th>
              <td mat-cell *matCellDef="let element"> {{element.tolFrom}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="tolTo">
              <th mat-header-cell *matHeaderCellDef> Tol_Max </th>
              <td mat-cell *matCellDef="let element"> {{element.tolTo}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="instrument">
              <th mat-header-cell *matHeaderCellDef> Instrument </th>
              <td mat-cell *matCellDef="let element"> {{element.instrument | uppercase}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="measuringFrequency">
              <th mat-header-cell *matHeaderCellDef> Measuring Frequency </th>
              <td mat-cell *matCellDef="let element">

                <ng-container *ngIf="element.measuringFrequency == '100'; else newDeb">
                  100 %
                </ng-container>
                <ng-template #newDeb>
                  1/{{element.measuringFrequency}}
                </ng-template>

              </td>
            </ng-container>

            <ng-container *ngIf="islog && isad" matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>MODIFICATION</th>
              <td mat-cell *matCellDef="let drg">
                <div>
                  <ng-container *ngIf="drg.status == '0' || drg.masterApproval == '0'">
                    <span><a mat-stroked-button disabled style="color:red; width: 100px;">Form Rejected Click To
                        Edit</a> </span> &nbsp;
                    <button mat-raised-button selected style="cursor:pointer;  min-width: 34px !important;min-height: 34px !important;
                              padding: 0 !important;" (click)="editDrawing(drg)">
                      <mat-icon style="color:green" selected>edit</mat-icon>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="drg.status == NULL || drg.masterApproval == NULL">
                    <span><a mat-stroked-button disabled style="color:blue; width: 100px;">Form Approval Pending</a>
                    </span> &nbsp;
                  </ng-container>
                  <ng-container *ngIf="drg.status == '1' && drg.masterApproval == '1'">
                    <span><a mat-stroked-button disabled style="color: green; width: 100px;">Approved</a> </span>
                  </ng-container>
                </div>
              </td>

            </ng-container>
            <!-- 
          <ng-container *ngIf="islog && isad" matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let drg">
              <div>
                <button mat-raised-button selected style="cursor:pointer;  min-width: 34px !important;min-height: 34px !important;
                      padding: 0 !important;" (click)="deleteDrg(drg.id)">
                  <mat-icon color="warn" selected>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container> -->

            <ng-container *ngIf="islog && isad" matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>DELETE</th>
              <td mat-cell *matCellDef="let drg">
                <div>
                  <ng-container
                    *ngIf="drg.status == '0' || drg.status == NULL || drg.masterApproval == '0' || drg.masterApproval == NULL">
                    <button mat-raised-button selected style="cursor:pointer;  min-width: 34px !important;min-height: 34px !important;
                 padding: 0 !important;" (click)="deleteDrg(drg.id)">
                      <mat-icon color="warn" selected>delete</mat-icon>
                    </button>
                  </ng-container>

                </div>
              </td>

            </ng-container>



            <tr style="background: #408cfd  ;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-green': row.ctq =='1' }">
            </tr>
          </table>

          <mat-paginator #myPaginator [pageSizeOptions]="[50,100,200,400]" showFirstLastButtons></mat-paginator>
        </div>

        <div style="text-align: right; margin-top: 2%;">
          <button *ngIf="islog &&isTT ||isTEC" mat-raised-button class="save-button" (click)="approval(opnNo,1)">
            Confirm Approval </button> &nbsp;

          <button *ngIf="islog &&isTT ||isTEC" mat-raised-button class="save-button" (click)="approval(opnNo,0)"
            style="color: red; ">
            Reject </button>

        </div>
        <form *ngIf="rejection && islog &&isTT ||isTEC"  [formGroup]="rejectForm" (ngSubmit)="rejectWithComments()">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Comment for Rejection</mat-label>
            <textarea rows="4" matInput formControlName="comment"> </textarea>
                     
          </mat-form-field>
          <button mat-raised-button class="save-button" 
            style="color: red; float: right;" [disabled]="rejectForm.invalid">
            Reject </button>
        </form>

        <!-- <div style="text-align: right;">

        </div> -->


        <div style="text-align: right; margin-top: 2%;">
          <button *ngIf="islog &&isMT ||isMASTER" mat-raised-button class="save-button" (click)="approvalMaster(opnNo,1)">
            Confirm Approval </button> &nbsp;

          <button *ngIf="islog &&isMT ||isMASTER" mat-raised-button class="save-button" (click)="approvalMaster(opnNo,0)"
            style="color: red; ">
            Reject </button>
        </div>
        <form *ngIf="rejection && islog &&isMT ||isMASTER"  [formGroup]="rejectForm" (ngSubmit)="rejectWithMasterComments()">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Comment for Rejection</mat-label>
            <textarea rows="4" matInput formControlName="comment"> </textarea>
                     
          </mat-form-field>
          <button mat-raised-button class="save-button" 
            style="color: red; float: right;" [disabled]="rejectForm.invalid">
            Reject </button>
        </form>
      </div>
    </div>

      <div class="action_button" *ngIf="islog && isENGG ||isET">
        <button *ngIf = "!isLoading" color="accent" mat-raised-button class="save-button first-action-button" (click)="addProcess()"
          aria-label="SAVE" [disabled]>Add</button>
        <button  *ngIf = "!isLoading" color="accent" mat-raised-button class="save-button first-action-button" (click)="updateProcess1()"
          aria-label="SAVE" [disabled]>Update</button>
      </div>
      
      <div *ngIf="islog && isENGG ||isET">
        <mat-card *ngIf="isLoading"   style="display: flex; justify-content: center; align-items: center">
  
          <div class="twitter-like"> 
          <mat-spinner class="track"  style=" display: inline"
               mode="determinate" value="100"  diameter="70" >
               </mat-spinner>
               <mat-spinner mode="indeterminate"  diameter="70"></mat-spinner>
          </div>
  
          </mat-card>
        <table *ngIf = "!isLoading" mat-table [dataSource]="dataSource" [formGroup]="invoiceForm">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>S/N</th>
            <td mat-cell *matCellDef="let element; let rIndex = index;">
              {{ (rIndex+1) + (myPaginator.pageIndex * myPaginator.pageSize) }} </td>
          </ng-container>


          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Desc </th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <div *ngIf="!disable; else input">
                <mat-form-field class="tcustom-full-width">
                  <mat-label>Description</mat-label>
                  <input name="description" [readonly]=disable (keyup)="onChange($event,rIndex,'description')"
                    [value]="element.description" matInput required>
                  <mat-error>Description is required!</mat-error>
                </mat-form-field>
              </div>
              <ng-template #input>
                {{element.description}}
                <input name="description" hidden [readonly]=disable [value]="element.description" matInput>
              </ng-template>
            </td>


          </ng-container>

          <ng-container matColumnDef="baloonNo">
            <th mat-header-cell *matHeaderCellDef> Balloon # </th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <div *ngIf="!disable; else input">
                <mat-form-field class="tcustom-full-width" style="width: 60px;">
                  <mat-label>Balloon #</mat-label>
                  <input name="baloonNo" [readonly]=disable (keyup)="onChange($event,rIndex,'baloonNo')"
                    [value]="element.baloonNo" matInput required>
                  <mat-error>Baloon # is required!</mat-error>
                </mat-form-field>
              </div>
              <ng-template #input>
                {{element.baloonNo}}
                <input name="baloonNo" hidden [readonly]=disable [value]="element.baloonNo" matInput>
              </ng-template>
            </td>
          </ng-container>


          <ng-container matColumnDef="specification">
            <th mat-header-cell *matHeaderCellDef> Specs </th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <div *ngIf="!disable; else input">
                <mat-form-field class="tcustom-full-width">
                  <mat-label>Specification</mat-label>
                  <input name="specification" [readonly]=disable (keyup)="onChange($event,rIndex,'specification')"
                    [value]="element.specification | uppercase" matInput required>
                  <mat-error>Specification is required!</mat-error>
                </mat-form-field>
              </div>
              <ng-template #input>
                {{element.specification}}
                <input name="specification" hidden [readonly]=disable [value]="element.specification" matInput>
              </ng-template>
            </td>
          </ng-container>



          <ng-container matColumnDef="tolFrom">
            <th mat-header-cell *matHeaderCellDef> Tol_Min </th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <div *ngIf="!disable; else input">
                <mat-form-field class="custom2-full-width">
                  <mat-label>Tol Min</mat-label>
                  <input name="tolFrom" [readonly]=disable (keyup)="onChange($event,rIndex,'tolFrom')"
                    [value]="element.tolFrom" matInput required>
                  <mat-error>Tol Min is required!</mat-error>
                </mat-form-field>
              </div>
              <ng-template #input>
                {{element.tolFrom}}
                <input name="tolFrom" hidden [readonly]=disable [value]="element.tolFrom" matInput>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="tolTo">
            <th mat-header-cell *matHeaderCellDef> Tol_Max </th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <div *ngIf="!disable; else input">
                <mat-form-field class="custom2-full-width">
                  <mat-label>Tol Max</mat-label>
                  <input name="tolTo" (keyup)="onChange($event,rIndex,'tolTo')" [value]="element.tolTo" matInput
                    required>
                  <mat-error>Tol Max is required!</mat-error>
                </mat-form-field>
              </div>
              <ng-template #input>
                {{element.tolTo}}
                <input name="tolTo" hidden [readonly]=disable [value]="element.tolTo" matInput>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="instrument">
            <th mat-header-cell *matHeaderCellDef> Instrument </th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <div *ngIf="!disable; then select else input"></div>
              <ng-template #select>
                <mat-form-field class="tcustom-full-width">
                  <mat-label>Instrument</mat-label>

                  <mat-select [(value)]="element.instrument">
                    <mat-option *ngFor="let ins of instrumentList" (change)="onChange($event,rIndex,'instrument')"
                      [value]="ins.name">{{ins.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
              <ng-template #input>
                {{element.instrument}}
                <input name="instrument" hidden [readonly]=disable [value]="element.instrument" matInput>
              </ng-template>



            </td>
          </ng-container>

          <ng-container matColumnDef="measuringFrequency">
            <th mat-header-cell *matHeaderCellDef> Measuring Frequency </th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">

              <div *ngIf="!disable; then select else input"></div>
              <ng-template #select>
                <mat-form-field class="tcustom-full-width">
                  <mat-label>Measuring Frequency</mat-label>
                  <mat-select [(value)]="element.measuringFrequency">
                    <mat-option *ngFor="let ins of measuringList"
                      (change)="onChange($event,rIndex,'measuringFrequency')" [value]="ins.name">
                      <ng-container *ngIf="ins.name == '100'; else newDeb">100 %</ng-container>
                      <ng-template #newDeb>1/{{ins.name}}</ng-template>
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </ng-template>
              <ng-template #input>
                {{element.measuringFrequency}}
                <input name="measuringFrequency" hidden [readonly]=disable [value]="element.measuringFrequency"
                  matInput>
              </ng-template>

            </td>
          </ng-container>

          <ng-container matColumnDef="firstPartInspection">
            <th mat-header-cell *matHeaderCellDef>First Part</th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <mat-checkbox [readonly]=disable class="example-margin" [checked]="element.firstPartInspection"
                (change)="element.firstPartInspection = !element.firstPartInspection" value="true"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="periodicInspection">
            <th mat-header-cell *matHeaderCellDef>Periodic Inspection</th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <mat-checkbox class="example-margin" [checked]="element.periodicInspection"
                (change)="element.periodicInspection = !element.periodicInspection" value="true"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="ctq">
            <th mat-header-cell *matHeaderCellDef>CTQ</th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <mat-checkbox class="example-margin" [checked]="element.ctq" (change)="element.ctq = !element.ctq"
                value="true"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="pdi">
            <th mat-header-cell *matHeaderCellDef>M-FIR</th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <mat-checkbox class="example-margin" [checked]="element.pdi" (change)="element.pdi = !element.pdi"
                value="true"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="cfir">
            <th mat-header-cell *matHeaderCellDef>C-FIR</th>
            <td mat-cell *matCellDef="let element; let rIndex=index;" contenteditable="false">
              <mat-checkbox class="example-margin" [checked]="element.cfir" (change)="element.cfir = !element.cfir"
                value="true"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container *ngIf="islog && isad" matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Approval Status</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <ng-container *ngIf="element.status == '0' && element.masterApproval == NULL">
                  <span><a mat-stroked-button disabled style="color:red; width: 100px;">Rejected </a>
                  </span>
                </ng-container>

                <ng-container *ngIf="element.status == '1' && element.masterApproval == '0'">
                  <span><a mat-stroked-button disabled style="color:red; width: 100px;">Rejected </a>
                  </span>
                </ng-container>



                <ng-container *ngIf="element.status == NULL && element.masterApproval == NULL">
                  <span><a mat-stroked-button disabled style="color:blue; width: 100px;"> Pending</a> </span>

                </ng-container>
                <ng-container *ngIf="element.status == '1' && element.masterApproval == NULL">
                  <span><a mat-stroked-button disabled style="color:blue; width: 100px;">Pending</a> </span>

                </ng-container>
                <ng-container *ngIf="element.status == '1' && element.masterApproval == '1'">
                  <span><a mat-stroked-button disabled style="color: green; width: 100px;">Approved</a> </span>
                </ng-container>
              </div>
            </td>

          </ng-container>

          <ng-container *ngIf="islog && isad" matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let drg">
              <div>
                <button mat-raised-button selected
                  style="cursor:pointer;  min-width: 34px !important;min-height: 34px !important;padding: 0 !important;"
                  (click)="deleteDrg(drg.id)">
                  <mat-icon color="warn" selected>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-row class="content_table_row" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-green': row.ctq =='1' }"
            formArrayName="Rows"></tr>
        </table>
        </div>
      <mat-paginator [hidden] = "!isENGG" #myPaginator [pageSizeOptions]="[50,100,200,400]" showFirstLastButtons></mat-paginator>
      
      <div class="col text-center">
        <button *ngIf="submitshow" mat-raised-button (click)="confirmQuality()">Submit Quality Plan</button>
      </div>
    </div>
  </div>


  <app-footer></app-footer>
