<app-navbar6>
    <button style="margin-left: 10%;margin-top: -3%;" mat-button [routerLink]="['/marketview']">
        <h3  >Market&nbsp;Card</h3>
    </button>
    <button style="margin-left: 10%;margin-top: -3%;" mat-button [routerLink]="['/contractreviewview']">
        <h3>Contract&nbsp;Review</h3>
    </button>
    
  
    
</app-navbar6>
<div style=" min-height: calc(100vh - 110px);">
    <div style="width: 95%;margin-left: 3%;padding-top: 2%;">
        <button  mat-raised-button color="primary" [routerLink]="['/contractreview']">Contractreview</button>
        </div>
        </div>
<app-footer></app-footer>