th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: 1px solid #CCC;
  padding: 0 !important;

}

th {
  font-size: medium;
  color: black;

}
.nav-item.active .nav-link {
  color: white;
}