<app-navbar>

  <h4 style="color: aliceblue;">Market&nbsp;Abstract</h4>


</app-navbar>

<div style=" min-height: calc(100vh - 110px);">
  <div style="width: 95%;margin-left: 3%;padding-top: 2%;">




    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>S/N </th>
          <td mat-cell *matCellDef="let drg ; let rIndex = index;"> {{rIndex+1}} </td>
        </ng-container>

        <ng-container matColumnDef="cardNo">
          <th mat-header-cell *matHeaderCellDef> Route Card # </th>
          <td mat-cell *matCellDef="let drg"> {{drg.cardNo}} </td>
        </ng-container>

        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Batch Qty </th>
          <td mat-cell *matCellDef="let drg"> {{drg.qty}} </td>
        </ng-container>


        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Date </th>
          <td mat-cell *matCellDef="let drg"> {{drg.createdAt | date: 'dd/MM/yyyy'}} </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>View Card</th>
          <td mat-cell *matCellDef="let drg">
            <div>
              <button mat-raised-button selected style="cursor:pointer;  min-width: 34px !important;min-height: 34px !important;
                              padding: 0 !important;" (click)="viewroute(drg)">
                <mat-icon style="color:green" selected>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr style="background: #408cfd  ;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-red': row.unlockStatus =='0' }">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[200,400,600]"></mat-paginator>
    </div>


  </div>

</div>

<app-footer></app-footer>