table,
td,
th {
    border: 1px solid BLACK;
    text-align: left;
    height: 100%;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 9px;
}



.example-full-width {
    width: 100%;
}

table {
    width: 100%;
}
.logoimg{
    width: 100px;
    height: 50px;
}
