<div class="container">

    <div id="componentID">
        <table style="width:100%;  height: 50px; border: 1px solid black;font-size: 20px;border-collapse: collapse;">
            <tr>
                <th rowspan="4" style="text-align: center; width:12.3%;"><img src="assets/vjp3.png" height="50"
                        width="120"></th>
                <!-- <td style="width: 15%;  border: 1px solid black; border-collapse: collapse; padding: 3px;font-size: 200%;text-align: center;"
                            rowspan="4"><b>VJP</b> 
                        </td> -->
                <td style="width: 52%; text-align: center;  border: 1px solid black; border-collapse: collapse; padding: 2px;font-size: 100%;"
                    rowspan="4"><B> DRAWING INSPECTION REPORT</B></td>
                <td style="width:7.98%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">DOC.NO
                </td>
                <td style="width:9.7%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    QA/R/43</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; border-collapse: collapse; padding: 2px;">REV.NO</td>
                <td style="border: 1px solid black; border-collapse: collapse; padding: 2px;">00</td>

            </tr>

            <tr>
                <td style="border: 1px solid black;border-collapse: collapse; padding: 2px;">DATE</td>
                <td style="border: 1px solid black;border-collapse: collapse; padding: 2px;">
                    {{myDate | date: 'dd-MM-yyyy' }}</td>

            </tr>

            <tr>
                <td style="border: 1px solid black;border-collapse: collapse; padding: 2px;">PAGE NO</td>
                <td style="border: 1px solid black;border-collapse: collapse; padding: 2px;">1OF</td>

            </tr>


        </table>



        <table style="width:100%;">
            <tr>

                <td>Drawing code</td>
                <th>{{drgObject.id}}</th>
                <td>Part Name</td>
                <th>{{drgObject.partName | uppercase}}</th>
                <td>Operation No.</td>
                <th>{{psObject.opnNo}}</th>


                <th >Route Card Number</th>
                <th >{{routeObj.cardNo}}</th>


            </tr>

            <tr>
                <td>Casting Drawing No/Rev</td>
                <th>{{drgObject.partNum}}</th>
                <th>{{drgObject.revNo}}</th>
                <td>Machining Drawing No/Rev</td>
                <th>{{drgObject.partNum1}}</th>
                <th>{{drgObject.revNo1}}</th>
                <td>Batch Quantity</td>
                <th colspan="1">{{routeObj.qty}}</th>





            </tr>

            <tr>
                <td>Operation Description</td>
                <th>{{psObject.description | uppercase}}</th>
                <td>Work Center</td>
                <th>{{psObject.workCenter}}</th>
                <td>Process Plan No</td>
                <th>{{qpaObject.pfNo}}</th>
                <td>Quality Plan No</td>
                <th colspan="2">{{qpaObject.qpNo}}</th>






            </tr>
            <tr>

                <td>Casting Tolerance</td>
                <th colspan="1">{{drgObject.castingToleranceStandard | uppercase}}</th>
                <td>Machining Tolerance</td>
                <th colspan="1">{{drgObject. machiningToleranceStandard | uppercase}}</th>
                <td>Material Grade</td>
                <th>{{drgObject.materialGrade}}</th>
                <td>Material Weight</td>
                <th>{{drgObject.materialWeight}}</th>



            </tr>


            <tr>


                <td>Purchase Order Number</td>
                <th colspan="2">{{marketData.poNo}}</th>
                <td>Inspection Date</td>
                <th colspan="4"></th>

            </tr>


        </table>


        <table style="width: 100%; height: 200px;margin-top: 3px; ">
            <tr>
                <th colspan="2" style="text-align: center;">BEFORE</th>
                <th colspan="2" style="text-align: center;">AFTER</th>
            </tr>
            <tr>
                <th>
                    <img style="width: 250px; height: 200px;"
                        src="http://192.168.1.222:80/vjp/process/{{psObject.image1}}">
                </th>
                <th>
                    <img style="width: 250px; height: 200px;"
                        src="http://192.168.1.222:80/vjp/process/{{psObject.image2}}">
                </th>
                <th>
                    <img style="width: 250px; height: 200px;"
                        src="http://192.168.1.222:80/vjp/process/{{psObject.image3}}">
                </th>
                <th>
                    <img style="width: 250px; height: 200px;"
                        src="http://192.168.1.222:80/vjp/process/{{psObject.image4}}">
                </th>

            </tr>
        </table>
        <table style="width:100%; margin-top:3px; ">
            <tr>
                <th colspan="12" style="padding-bottom: 60px;"><u>Special Instructions:</u></th>
            </tr>
            <tr>
                <th colspan="12">
                    <u>Instrn. to Q.A</u>
                </th>
            </tr>
            <tr>
                <th colspan="1" class="rightBorder">Week No.: <input type="text" id="WeekNo" name="WeekNo"
                        style="width: 20%;"></th>
                <th colspan="3" class="rightBorder" style="text-align: left;">M/c. Id & Name :</th>
                <th colspan="6 " class="rightBorder"></th>
                <th colspan="2">Batch Qty:<input type="text" id="qtn" name="qtn"></th>

            </tr>
            <tr>
                <th>Technician Name:</th>
                <td colspan="3"></td>
                <td colspan="3"></td>
                <td colspan="3"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td style="width: 15%;">Date</td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <td style="width:7%;"></td>
                <th colspan="1" style="text-align:center; width: 14%;">TOTAL QUANTITY</th>
                <th rowspan="2" style="text-align: center;">Q.A Cleared by</th>
            </tr>
            <tr>
                <td>Shift</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Produced:</td>


            </tr>
            <tr>
                <td>Qty.Prod</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Accepted:</td>
                <td class="bottomBorder"></td>
            </tr>
            <tr>
                <td>Qty.Acc.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Matl.Reg:</td>
                <td class="bottomBorder"></td>
            </tr>
            <tr>
                <td>Matl. Reg</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>M/c. Reg: </td>
                <td class="bottomBorder"></td>

            </tr>
            <tr>
                <td>M/c.Reg.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="leftBorder"></td>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>

        </table><br>

    </div>
    <div class="col-md-12 text-center p-4">
        <button id="singlebutton" name="singlebutton" (click)="printPage()" class="btn btn-primary"> Print </button>
    </div>

</div>