<app-navbar>
    <h4></h4>


</app-navbar>


<div style=" min-height: calc(100vh - 110px);">
    <div style="width: 95%;margin-left: 3%;padding-top: 2%;">




        <div id="componentID">

            <table
                style="width:100%;  height: 50px; border: 1px solid black;font-size: 20px;border-collapse: collapse;">
                <tr>
                    <td style="width: 15%;  border: 1px solid black; border-collapse: collapse; padding: 5px;"
                        rowspan="4">
                    </td>
                    <td style="width: 50%; text-align: center;  border: 1px solid black; border-collapse: collapse; padding: 5px;font-size: 200%;"
                        rowspan="4"><B>ROUTE CARD</B></td>
                    <td style="width: 17.5%;  border: 1px solid black; border-collapse: collapse; padding: 5px;">Doc.#
                    </td>
                    <td style="width: 17.5%;  border: 1px solid black; border-collapse: collapse; padding: 5px;"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;">Rev.#</td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;"></td>

                </tr>
                <tr>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;">Date</td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;"></td>

                </tr>
                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;">Page #.</td>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;"></td>

                </tr>
            </table>

            <table style="font-size: 12px; width: 100%;">

                <tr>
                    <th style="width: 10%;">DRAWING CODE</th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;">PURCHASE ORDER QTY</th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;">START DATE</th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;">AS CAST WEIGHT</th>
                    <th style="width: 10%;"></th>
                </tr>
                <tr>
                    <th>REV #</th>
                    <th></th>
                    <th>PURCHASE ORDER # /
                        <br> REVISON # /
                        <br>LINE ITEM #</th>
                    <th></th>
                    <th>COMMITTED DATE</th>
                    <th></th>
                    <th>SHOT WEIGHT</th>
                    <th></th>
                </tr>
                <tr>
                    <th>DRAWING #</th>
                    <th></th>
                    <th>PURCHASE ORDER DATE</th>
                    <th></th>
                    <th>MATERIAL ISSUED FROM STORE IN KG</th>
                    <th></th>
                    <th>FINISHED WEIGHT</th>
                    <th></th>
                </tr>
                <tr>
                    <th>PART NAME </th>
                    <th></th>
                    <th>MATERIAL SPECIFICATION
                    </th>
                    <th></th>
                    <th>BATCH QTY</th>
                    <th></th>
                    <th>Remaining Qty</th>
                    <th></th>
                </tr>


            </table>
            <table style="width:100%;font-size: 70%;text-align: center;">
                <tr>
                    <th style="width: 1%;">OP #</th>
                    <th style="width: -16%;">PROCESS FLOW SEQUENCE</th>
                    <th>START DATE</th>
                    <th>MACHINE NAME</th>
                    <th>PRODUCED QTY</th>
                    <th>ACCEPTED QTY</th>
                    <th>ROUTE CARD #&DATE</th>
                    <th>REWORK QTY</th>
                    <th>REJECTION QTY</th>
                    <th>END DATE</th>
                    <th>OPERATOR SIGN</th>
                    <th>SUPERVISOR SIGN</th>
                    <th>QUALITY SIGN</th>
                    <th>REMARKS</th>
                </tr>

                <tr *ngFor="let element of dataSource; let rIndex = index;">
                    <th>{{element.opnNo}}</th>
                    <th>{{element.opnName}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>


                </tr>




            </table>
            <table style=" border: 1px solid black;font-size: 70%;border-collapse: collapse;width: 100%;">
                <tr>
                    <td style="  border: 1px solid black; border-collapse: collapse; padding: 5px;text-align:left;height: 50px;"
                        colspan="7">NOTE:</td>
                </tr>
                <tr>

                    <td
                        style="width: 100px;  border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: center;">
                    </td>
                    <td
                        style="width: 100px;  border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: center;">
                    </td>

                    <td style="width: 600px;  border: 1px solid black;  border-collapse: collapse; padding: 5px; text-align: center;"
                        colspan="2">OPERATION ADDED</td>
                    <td
                        style="width: 100px;  border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: center;">
                    </td>
                    <td
                        style="width: 100px;  border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: center;">
                    </td>

                    <td style="width: 200px; text-align: center;  border: 1px solid black; border-collapse: collapse; padding: 5px;"
                        rowspan="2"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: center;">
                        Rev.#
                    </td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: center;">
                        DATE
                    </td>
                    <td style="width: 200px;  border: 1px solid black;  border-collapse: collapse; padding: 5px; text-align: center;"
                        colspan="2">DESCRIPTION</td>

                    <td
                        style="width: 100px;  border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: center;">
                        PREPARED</td>
                    <td
                        style="width: 100px;  border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: center;">
                        APPROVED</td>

                </tr>
                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;height: 40PX;"></td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;height: 40PX;"></td>

                    <td style=" width: 50px; border: 1px solid black; border-collapse: collapse; padding: 5px;"
                        colspan="1">
                    </td>
                    <td style=" width: 50px; border: 1px solid black;border-collapse: collapse; padding: 5px;"
                        colspan="1">
                    </td>
                    <td style=" width: 50px; border: 1px solid black; border-collapse: collapse; padding: 5px;"
                        colspan="2">
                    </td>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;height: 40PX;"></td>


                </tr>
                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;text-align: center;">
                        STORE
                    </td>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;text-align: center;">
                        MARKETTING</td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: center;">
                        PRODUCT
                        HEAD
                    </td>
                    <td style="border: 1px solid black;text-align: center;">QUALITY HEAD</td>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;text-align: center;"
                        colspan="2">
                        MACHINESHOP HEAD</td>
                    <td style="border: 1px solid black;border-collapse: collapse; padding: 5px;text-align: center;">
                        GM/MD
                    </td>
                </tr>
            </table>

        </div>



        <div class="text-center p-2">
            <button mat-raised-button (click)="printPage()" color="primary">Print</button>

        </div>
    </div>
</div>
<app-footer></app-footer>