<mat-toolbar matDialogTitle>
    <mat-toolbar-row>
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>




<div mat-dialog-content>

    <form class="p-4" [formGroup]="contactForm">

        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Process #</mat-label>
                <input name="opnNo" formControlName="opnNo" matInput required>
                <mat-error>OPN No# is required!</mat-error>
            </mat-form-field>
        </div>

        <div class="row">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Process Name</mat-label>
                <mat-select formControlName="opnName">
                    <mat-option *ngFor="let op of Oplist" [value]="op.name">
                        {{op.name}}
                    </mat-option>

                </mat-select>
            </mat-form-field>


        </div>

        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input name="description" formControlName="description" matInput required>
                <mat-error>Description is required!</mat-error>
            </mat-form-field>
        </div>





        <div class="row">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Workcenter</mat-label>
                <mat-select formControlName="workCenter">
                    <mat-option *ngFor="let work of workData" [value]="work.name">
                        {{work.name}}
                    </mat-option>

                </mat-select>
            </mat-form-field>



        </div>

        

        <div class="row">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Incoming source of variation</mat-label>
                <mat-select formControlName="incomingSource">
                    <mat-option *ngFor="let incoming of incomingData" [value]="incoming.name">
                        {{incoming.name}}
                    </mat-option>

                </mat-select>
            </mat-form-field>

        </div>

        <div class="row">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>ProcessCharacteristics</mat-label>
                <mat-select formControlName="processCharacteristics">
                    <mat-option *ngFor="let process of processData" [value]="process.name">
                        {{process.name}}
                    </mat-option>

                </mat-select>
            </mat-form-field>

        </div>

        <div class="row">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>ProductCharacteristics</mat-label>
                <mat-select formControlName="productCharacteristics">
                    <mat-option *ngFor="let product of productData" [value]="product.name">
                        {{product.name}}
                    </mat-option>

                </mat-select>
            </mat-form-field>

        </div>
        <div>
            <h3 style="text-align:center;padding: 5px;">BEFORE</h3>
        </div>

        <div class="row">
            <div class="col-6">
                <img [src]="url1" style="width: 100px; height: 125px;">
            </div>

            <div class="col-6">
               
                <input hidden type="file" id="file1" (change)="onFileChange1($event)" #fileInput1 />
                <button mat-stroked-button class="add-file-button" (click)="fileInput1.click()" aria-label="Add file">
                    Image 1
                </button>
            </div>
        </div>



        <div class="row">
            <div class="col-6">
                <img [src]="url2" style="width: 100px; height: 125px;">
            </div>
            <div class="col-6">
                <input hidden type="file" id="file2" (change)="onFileChange2($event)" #fileInput2 />
                <button mat-stroked-button class="add-file-button" (click)="fileInput2.click()" aria-label="Add file">
                    Image 2
                </button>
            </div>
        </div>

        <div>
            <h3 Style="text-align:center;padding: 5px;">AFTER</h3>
        </div>
     

        <div class="row">
        
            <div class="col-6">
                <img [src]="url3" style="width: 100px; height: 125px;">
            </div>
            
            <div class="col-6">
                <input hidden type="file" id="file3" (change)="onFileChange3($event)" #fileInput3 />
                <button mat-stroked-button class="add-file-button" (click)="fileInput3.click()" aria-label="Add file">
                    Image 3
                </button>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <img [src]="url4" style="width: 100px; height: 125px;">
            </div>
            <div class="col-6">
                <input hidden type="file" id="file4" (change)="onFileChange4($event)" #fileInput4 />
                <button mat-stroked-button class="add-file-button" (click)="fileInput4.click()" aria-label="Add file">
                    Image 4
                </button>
            </div>
        </div>





    </form>

</div>

<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

    <button mat-raised-button class="mr-8" (click)="matDialogRef.close()" aria-label="Delete">
        Cancel
    </button>

    <button *ngIf="action !== 'edit'" color="accent" mat-raised-button class="save-button" (click)="addOperation()"
        [disabled]="contactForm.invalid" aria-label="SAVE">
        Add
    </button>

    <button *ngIf="action === 'edit'" color="accent" mat-raised-button class="save-button"
        (click)="updateOperation(editId)" [disabled]="contactForm.invalid" aria-label="SAVE">
        Save
    </button>

</div>