[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn
[dn]
C = IN
ST = TAMILNADU
L = CBE
O = IRONMAN
OU = IRONMAN
emailAddress = IRONMAN@gmail.com
CN = vjp
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost
DNS.2 = 192.168.1.196
IP.1 = 192.168.1.196
IP.2 = 192.168.1.147
