<mat-toolbar matDialogTitle>
    <mat-toolbar-row>
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>




<div mat-dialog-content>

    <form class="p-4" [formGroup]="contactForm">

        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input name="description" formControlName="description" matInput required>
                <mat-error>Description is required!</mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Balloon No</mat-label>
                <input name="baloonNo" formControlName="baloonNo" matInput required>
                <mat-error>Baloon No is required!</mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Specification</mat-label>
                <input name="specification" formControlName="specification" matInput required>
                <mat-error>Specification is required!</mat-error>
            </mat-form-field>
        </div>

        <!-- <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Toloreance Grade</mat-label>
                <input name="toloreanceGrade" formControlName="toloreanceGrade" matInput required>
                <mat-error>Toloreance Grade is required!</mat-error>
            </mat-form-field>
        </div> -->

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Tol Min</mat-label>
                    <input name="tolFrom" formControlName="tolFrom" matInput required>
                    <mat-error>Tol Min is required!</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Tol Max</mat-label>
                    <input name="tolTo" formControlName="tolTo" matInput required>
                    <mat-error>Tol Max is required!</mat-error>
                </mat-form-field>
            </div>
        </div>



        <div class="row">


            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Instrument</mat-label>
                <mat-select formControlName="instrument">
                    <mat-option *ngFor="let ins of instrumentList" [value]="ins.name">
                        {{ins.name}}
                    </mat-option>

                </mat-select>
            </mat-form-field>

        </div>

        <div class="row">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Measuring Frequency</mat-label>
                <mat-select formControlName="measuringFrequency">
                    <mat-option *ngFor="let ins of measuringList" [value]="ins.name">

                        <ng-container *ngIf="ins.name == '100'; else newDeb" >
                           100 % 
                        </ng-container>
                        <ng-template #newDeb>
                            1/{{ins.name}}
                        </ng-template>

                        
                    </mat-option>

                </mat-select>
            </mat-form-field>


        </div>

        
        <div class="row">
            <div class="col-md-6">

                <mat-checkbox class="example-margin" value="true" formControlName="firstPartInspection">First Part
                    Inspection</mat-checkbox>

            </div>
            <div class="col-md-6">
                <mat-checkbox class="example-margin" value="true" formControlName="periodicInspection">Periodic Inspection</mat-checkbox>
            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
               
               <mat-checkbox class="example-margin" value="true" formControlName="ctq">CTQ</mat-checkbox>

            </div>


            <div class="col-md-6">
               
                <mat-checkbox class="example-margin" value="true" formControlName="pdi">M-FIR</mat-checkbox>
 
             </div>

        </div>

        <div class="row">

            <div class="col-md-6">
               
               <mat-checkbox class="example-margin" value="true" formControlName="cfir">C-FIR</mat-checkbox>

            </div>


            

        </div>




    </form>

</div>

<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

    <button mat-raised-button class="mr-8" (click)="matDialogRef.close()" aria-label="Delete">
        Cancel
    </button>

    <button *ngIf="action !== 'edit'" color="accent" mat-raised-button class="save-button" (click)="addProcess()"
        [disabled]="contactForm.invalid" aria-label="SAVE">
        Add
    </button>

    <button *ngIf="action === 'edit'" color="accent" mat-raised-button class="save-button"
        (click)="updateProcess(editId)" [disabled]="contactForm.invalid" aria-label="SAVE">
        Save
    </button>

</div>