<div class="container">

    <div id="componentID">



        <table style="width:100%">
            <tr>
                <td><b>VJP ALUMINIUM FOUNDRY</b></td>
                <th colspan="4" style="text-align: center;">QUALITY PLAN</th>
                <td>Drawing code</td>
                <th>{{drgObject.id}}</th>

            </tr>

            <tr>
                <td>Casting Drawing No/Rev</td>
                <th>{{drgObject.partNum}}</th>
                <th>{{drgObject.revNo}}</th>
                <td>Operation No.</td>
                <th>{{psObject.opnNo}}</th>
                <td>Quality Plan No</td>
                <th>{{qpaObject.qpNo}}</th>

            </tr>

            <tr>
                <td>Machining Drawing No/Rev</td>
                <th>{{drgObject.partNum1}}</th>
                <th>{{drgObject.revNo1}}</th>
                <td>Operation Description</td>
                <th>{{psObject.description}}</th>
                <td>Process Plan No</td>
                <th>{{qpaObject.pfNo}}</th>

            </tr>
            <tr>
                <td>Part Name</td>
                <th colspan="2">{{drgObject.partName}}</th>
                <td>Work Center</td>
                <th>{{psObject.workCenter}}</th>
                <td>Route Card Number</td>
                <th></th>
            </tr>

            <tr>
                <td>Material Grade</td>
                <th colspan="2"></th>
                <td>Material Weight</td>
                <th></th>

                <td>Machine Operated</td>
                <th></th>

            </tr>
        </table><br>


        <!-- <table style="width:100%">
            <tr>
                <td>VJP ALUMINIUM FOUNDRY</td>
                <th colspan="4" style="text-align: center;">QUALITY PLAN</th>
                <td>Drawing code</td>
                <th>{{drgObject.id}}</th>

            </tr>

            <tr>
                <td>Casting Drawing No/Rev</td>
                <th>{{drgObject.partNum}}</th>
                <th>{{drgObject.revNo}}</th>
                <td>Operation No.</td>
                <th>{{psObject.opnNo}}</th>
                <td>Quality Plan No</td>
                <th>{{qpaObject.qpNo}}</th>

            <tr>

            <tr>
                <td>Machining Drawing No/Rev</td>
                <th>{{drgObject.partNum1}}</th>
                <th>{{drgObject.revNo1}}</th>
                <td>Operation Description</td>
                <th>{{psObject.description}}</th>
                <td>Process Plan No</td>
                <th>{{qpaObject.pfNo}}</th>

            </tr>
            <tr>
                <td>Part Name</td>
                <th colspan="2">{{drgObject.partName}}</th>
                <td>Work Center</td>
                <th>{{psObject.workCenter}}</th>
                <td>Route Card Number</td>
                <th></th>
            </tr>

            <tr>
                <td>Material Grade</td>
                <th colspan="2"></th>
                <td>Customer</td>
                <th>{{drgObject.customerName}}</th>
                <th></th>
                <th></th>

            </tr>

        </table> -->
        <div class=" printMe container my-4 ">

            <div id="componentID" class="printMe">
                <table class="tg" style="width: 103.5%;margin-left: -1.5%;">
                    <colgroup>
                        <col style="width: 49px">
                        <col style="width: 86px">
                        <col style="width: 185px">
                        <col style="width: 79px">
                        <col style="width: 76px">
                        <col style="width: 81px">
                        <col style="width: 73px">
                        <col style="width: 130px">
                        <col style="width: 117px">
                        <col style="width: 89px">
                        <col style="width: 72px">
                        <col style="width: 69px">
                        <col style="width: 72px">
                        <col style="width: 71px">
                    </colgroup>
                    <THEAD>
                        <tr>
                            <th class="tg-nrix" rowspan="2">S/N</th>
                            <th class="tg-nrix" rowspan="2">Measuring <br>Frequency</th>
                            <th class="tg-nrix" rowspan="2">Description </th>
                            <th class="tg-nrix" rowspan="2">Specified <br>Dimention</th>
                            <th class="tg-nrix" rowspan="2">Tolarance<br>max/min</th>
                            <th class="tg-nrix" rowspan="2">Balloon No</th>
                            <th class="tg-nrix" rowspan="2">Grid</th>
                            <th class="tg-nrix" colspan="2">Instrument</th>
                            <th class="tg-cly1" rowspan="2">Remarks</th>
                            <th class="tg-nrix" colspan="4">Observed</th>
                        </tr>
                        <tr>
                            <td class="tg-y0n7">Photo</td>
                            <td class="tg-t31z">Due Date</td>
                            <td class="tg-y0n7">1</td>
                            <td class="tg-y0n7">2</td>
                            <td class="tg-y0n7">3</td>
                            <td class="tg-y0n7">4</td>
                        </tr>
                    </THEAD>


                    <ng-container *ngFor="let element of dataSource; let rIndex = index;">
                        <tr>
                            <td class="tg-cly1"> {{rIndex+1}} </td>

                            <td class="tg-cly1">
                                <ng-container *ngIf="element.measuringFrequency == '100'; else newDeb">
                                    100 %
                                </ng-container>
                                <ng-template #newDeb>
                                    1/{{element.measuringFrequency}}
                                </ng-template>
                            </td>

                            <td class="tg-cly1"> {{element.description}} </td>
                            <td class="tg-cly1"> {{element.specification}} </td>
                            <td class="tg-cly1"> {{element.tolFrom}} / {{element.tolTo}}</td>
                            <td class="tg-cly1">{{element.baloonNo}} </td>
                            <td class="tg-cly1"> {{element.toloreanceGrade}} </td>
                            <td class="tg-cly1"> IMAGE </td>
                            <td class="tg-cly1"> 31/12/2020 </td>
                            <td class="tg-cly1"> {{element.remarks}} </td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                            <td class="tg-cly1"></td>
                        </tr>

                    </ng-container>

                </table>



                <table class="tg mt-4" style=" width: 100%">
                    <colgroup>
                        <col style="width: 167px">
                        <col style="width: 95px">
                        <col style="width: 80px">
                        <col style="width: 83px">
                        <col style="width: 101px">
                        <col style="width: 81px">
                        <col style="width: 73px">
                        <col style="width: 21px">
                        <col style="width: 117px">
                        <col style="width: 59px">
                        <col style="width: 93px">
                        <col style="width: 92px">
                        <col style="width: 89px">
                        <col style="width: 89px">
                    </colgroup>
                    <tr>
                        <th class="tg-uzvj" colspan="4">AC - ACCEPTED , RW - REWORK , RJ- REJECTION</th>
                        <th class="tg-9wq8" colspan="4">Grey Shade -------&gt; Special Character</th>
                        <th class="tg-uzvj" colspan="2">Component Status</th>
                        <th class="tg-9wq8">1</th>
                        <th class="tg-9wq8">2</th>
                        <th class="tg-9wq8">3</th>
                        <th class="tg-9wq8">4</th>
                    </tr>
                    <tr>
                        <td class="tg-9wq8"><span style="font-weight:bold">M/C Name</span></td>
                        <td class="tg-lboi" colspan="7"></td>
                        <td class="tg-9wq8" colspan="2"><span style="font-weight:bold">Inspected By</span></td>
                        <td class="tg-lboi"></td>
                        <td class="tg-lboi"></td>
                        <td class="tg-lboi"></td>
                        <td class="tg-lboi"></td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow"><span style="font-weight:bold">Technician Name</span></td>
                        <td class="tg-0pky" colspan="2"></td>
                        <td class="tg-0pky" colspan="2"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-c3ow" colspan="2"><span style="font-weight:bold">Date / Time</span></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12 text-center p-4">
                <button id="singlebutton" name="singlebutton" (click)="printPage()" class="btn btn-primary"> Print
                </button>
            </div>

        </div>


    </div>
</div>