<app-navbar>
  <h3 style="margin-left: 10%;color: white;">Sample&nbsp;Master</h3>
</app-navbar>



<div style=" min-height: calc(100vh - 110px);">
  <div style="width: 95%;margin-left: 3%;padding-top: 1%;padding-bottom: 30px;">


    <div class="container mt-4">

    </div>

    <div class="row p-2">
      <button mat-mini-fab (click)="addNewRow()" style="background-color: #2727ec; color: white;margin-bottom: 1% ;">
        <mat-icon>add</mat-icon>
      </button>
    </div>


    <form [formGroup]="userTable" focusInvalidInput (ngSubmit)="updateOperation()">
      <div class="row p-2">
        <button mat-button style="background-color: #2727ec; color: white;margin-bottom: 1% ; float:right; position: absolute;
        right: 4rem;
        margin: -3rem;">
          save
        </button>
      </div>


      <div style="padding-bottom: 2%;">
        <mat-card>
          <table style="width:100%;border: 1px solid black;border-collapse: collapse;">
            <tr style="border: 1px solid black;border-collapse: collapse;">
              <th style="border: 1px solid black;border-collapse: collapse;word-spacing: 15px; width: 20%;"><b>VJP ALUMINIUM FOUNDRY</b></th>
              <th style="text-align: center;width: 20%; border: 1px solid black;border-collapse: collapse;  text-align: center; width: 25%;">SAMPLING</th>

              <td style="border: 1px solid black;border-collapse: collapse;width: 10%;">Part Name</td>
              <th style="border: 1px solid black;border-collapse: collapse; width: 25%;"> {{drgObject.partName}}</th>
              <td style="border: 1px solid black;border-collapse: collapse;width: 10%;">Drawing code</td>
              <th style="border: 1px solid black;border-collapse: collapse; width: 10%;">{{drgObject.id}}</th>
            </tr>

          </table>
        </mat-card>
      </div>


      <div class="mat-elevation-z8">
        <mat-card *ngIf="isLoading"   style="display: flex; justify-content: center; align-items: center">

          <div class="twitter-like"> 
          <mat-spinner class="track"  style=" display: inline"
               mode="determinate" value="100"  diameter="70" >
               </mat-spinner>
               <mat-spinner mode="indeterminate"  diameter="70"></mat-spinner>
          </div>

          </mat-card>

        <table *ngIf = "!isLoading" mat-table [dataSource]="dataSource" formArrayName="tableRows">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> S/N </th>
            <td mat-cell *matCellDef="let element; let rIndex = index;"> {{rIndex+1}} </td>
          </ng-container>

          <ng-container matColumnDef="opnNo">
            <th mat-header-cell *matHeaderCellDef> OPN # </th>
            <td mat-cell matRipple style="cursor:pointer;" *matCellDef="let element; let i = index;"
              [formGroupName]="i">
              <mat-form-field style="width: 90px;">
                <input matInput formControlName="opnNo" (change)="checkAvailability(element)" [(ngModel)]="element.opnNo" placeholder="Opn No.">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="opnName">
            <th mat-header-cell *matHeaderCellDef> Process Name </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 90px;">
                <mat-select formControlName="opnName" (selectionChange)="checkAvailability(element)" [(ngModel)]="element.opnName" placeholder="Opn Name">
                  <mat-option *ngFor="let op of Oplist" [value]="op.name">
                    {{op.name}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 80px;">
                <input matInput formControlName="description" [(ngModel)]="element.description"
                  placeholder="Description">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="workCenter">
            <th mat-header-cell *matHeaderCellDef> Work Center </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 80px;">
                <!-- <mat-label>Workcenter</mat-label> -->
                <mat-select formControlName="workCenter" [(ngModel)]="element.workCenter" placeholder="Work center">
                  <mat-option *ngFor="let work of workData" [value]="work.name">
                    {{work.name}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="baloonNo">
            <th mat-header-cell *matHeaderCellDef>Baloon # </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 70px;">
                <input matInput formControlName="baloonNo" placeholder="baloonNo" [(ngModel)]="element.baloonNo">
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="specification">
            <th mat-header-cell *matHeaderCellDef> Specs </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 80px;">
                <input matInput formControlName="specification" placeholder="Specification"
                  [(ngModel)]="element.specification">
              </mat-form-field>
            </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="tolFrom">
            <th mat-header-cell *matHeaderCellDef> Tol_Min </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 80px;">
                <input matInput formControlName="tolFrom" placeholder="Tol From" [(ngModel)]="element.tolFrom">
              </mat-form-field>
            </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="tolTo">
            <th mat-header-cell *matHeaderCellDef> Tol_Max </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 80px;">
                <input matInput formControlName="tolTo" placeholder="Tol To" [(ngModel)]="element.tolTo">
              </mat-form-field>
            </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="instrument">
            <th mat-header-cell *matHeaderCellDef> Instrument </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 80px;">
                <mat-select formControlName="instrument" placeholder="Instrument" [(ngModel)]="element.instrument">
                  <mat-option *ngFor="let ins of instrumentList" [value]="ins.name">
                    {{ins.name}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="measuringFrequency">
            <th mat-header-cell *matHeaderCellDef> Measuring Frequency </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-form-field style="width: 180px;">
                <mat-select formControlName="measuringFrequency" placeholder="Measuring Frequency"
                  [(ngModel)]="element.measuringFrequency">
                  <mat-option *ngFor="let ins of measuringList" [value]="ins.name">

                    <ng-container *ngIf="ins.name == '100'; else newDeb">
                      100 %
                    </ng-container>
                    <ng-template #newDeb>
                      1/{{ins.name}}
                    </ng-template>


                  </mat-option>

                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          
          <!-- Symbol Column -->
          <ng-container matColumnDef="firstPartInspection">
            <th mat-header-cell *matHeaderCellDef> FPI </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-checkbox class="example-margin" formControlName="firstPartInspection"
                [(ngModel)]="element.firstPartInspection"></mat-checkbox>
            </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="periodicInspection">
            <th mat-header-cell *matHeaderCellDef> PI </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-checkbox class="example-margin" formControlName="periodicInspection"
                [(ngModel)]="element.periodicInspection"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="ctq">
            <th mat-header-cell *matHeaderCellDef> CTQ </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-checkbox class="example-margin" value="true" formControlName="ctq" [(ngModel)]="element.ctq">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="cfir">
            <th mat-header-cell *matHeaderCellDef> C-FIR </th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-checkbox class="example-margin" value="true" formControlName="cfir" [(ngModel)]="element.cfir">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="fir">
            <th mat-header-cell *matHeaderCellDef>M-FIR</th>
            <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
              <mat-checkbox class="example-margin" value="true" formControlName="fir" [(ngModel)]="element.fir">
              </mat-checkbox>
            </td>
          </ng-container>













          <!-- <ng-container  matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Modification</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button mat-raised-button selected style="cursor:pointer;  min-width: 34px !important;min-height: 34px !important;
                          padding: 0 !important;" (click)="editDrawing(element)">
                  <mat-icon style="color:green" selected>edit</mat-icon>
                </button>
              </div>
            </td>
          </ng-container> -->

          <ng-container  matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button mat-raised-button selected style="cursor:pointer;  min-width: 34px !important;min-height: 34px !important;
                  padding: 0 !important;" (click)="deleteDrg(element.pid); $event.preventDefault()">
                  <mat-icon color="warn" selected>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>


          <tr style="background: #408cfd  ;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; let index = index; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-card *ngIf="isLoading"   style="display: flex; justify-content: center; align-items: center">
         
        <div class="twitter-like"> 
        <mat-spinner class="track"  style=" display: inline"
             mode="determinate" value="100"  diameter="70" >
             </mat-spinner>
             <mat-spinner mode="indeterminate"  diameter="70"></mat-spinner>
        </div>
           
        </mat-card> -->


        <mat-paginator [pageSizeOptions]="[50, 100, 200,400,600]" showFirstLastButtons></mat-paginator>
      </div>


    </form>
  </div>

  <code>
</code>
</div>

<app-footer></app-footer>